body{
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

*{
  color: white;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 64px;
}

section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.break-session{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 165px;
}

.break, .session{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

#break-label, #session-label{
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 10px;
}

#break-length, #session-length{
  font-size: 36px;
  font-weight: 700;
  padding: 0 25px 0 25px;
}

.break-control, .session-control{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.break-session button{
  border: none;
  border-radius: 100px;
  width: 45px;
  height: 45px;
  background-color: white;
  color: #5D473F;
  font-size: 32px;
}

#timer-label{
  font-size: 48px;
}

#time-left{
  font-size: 96px;
  font-weight: 700;
}